# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment
venv/
.env

# Ignore database files
*.sqlite3
*.db

# Ignore data files
/data/
*.csv

# Ignore Jupyter notebook checkpoints
notebooks/.ipynb_checkpoints
